.card {
	width : 150px;
	height : 200px;
	float : left;
}

.card img {
	display:none;
	position : absolute;
	top : 5px;
	left : 5px;
	width : 126px;
	height : 176px;
}

.card div {
	position : relative;
	border : solid lightpink 2px;
	border-radius : 10px;
	margin : 5px;
	width : 136px;
	height : 186px;
}

.cardList {
	padding-top : 100px;
	margin : auto;
	width : 608px;
	list-style-type : none;
}

.clear {
	clear : both;
}
